<div class="main">
    <h1>User administration</h1>
    <div class="dataForms">
        <ul>
            <li>
                <label><b>Username</b></label>
                <input [(ngModel)]="user.username">
            </li>
            <li>
                <label><b>Password</b></label>
                <input [(ngModel)]="user.password">
            </li>
            <li>
                <label><b>Email</b></label>
                <input [(ngModel)]="user.email">
            </li>
            <li>
                <label><b>User Type</b></label>
                <input [(ngModel)]="user.userType">
            </li>
            <button (click)="save()">Save</button>
            <button (click)="cancel()">Cancel</button>
        </ul>
    </div>
    <ul class="content" *ngIf="users.length > 0">
        <div class="infoCard" *ngFor="let user of users">
            <ul>
                <li><b>Username:</b> {{user.username}}</li>
                <li><b>Password:</b> {{user.password}}</li>
                <li><b>Email:</b> {{user.email}}</li>
                <li><b>Usertype:</b> {{user.userType}}</li>
            </ul>
            <button (click)="edit(user)">Edit</button>
            <button (click)="delete(user)">Delete</button>
        </div>
    </ul>
</div>