/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
}

li{
    list-style: none;
}

.infoCard{
    margin:10px auto auto auto;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    border: 1px solid;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:left;
    width: 75%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main>h1{
    text-align: center;
}

.main{
    margin: auto;
    border-radius: 5px;
    width: 75%;
    background-color: white;
    margin-top: 1%;
}

.dataForms{
    margin:10px auto 10px auto;
    display: flex;
    justify-content: center;
}

ul{
    width: auto;
}

li{
    margin:5px;
    list-style: none;
}

label {
    width:180px;
    float:left;
    text-align:center;
    padding-right:10px;
}

input, label, select {
    border-radius: 3px;
}

ul>button, div.infoCard>button{
    padding:5px 0 5px 0;
    margin: 5px 0px;
    font-size: 75%;
    border-radius: 4px;
    font-weight:600;
    width: 50%;
    text-align: center;
}

ul>button:hover, div.infoCard>button:hover{
    cursor: pointer;
    background-color: grey;
}

nav{
    border-bottom: 1px solid;
    background-color: grey;
}

footer{
    position:fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: grey;
    border-top: 1px solid;
}